.footer {
  position: relative;
  width: 100%;
  z-index: 999;
  height: 40vh;
  background-image: url(../img/footerBG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.brightness {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 40vh;
  background-color: gray;
  filter: brightness(20%);
  opacity: 70%;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.footer .nav__item {
  margin-bottom: 24px;
}