.nezuko {
  height: 540px;
  background-image: url(../img/NezukoKamado.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nezuko .wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.nezuko__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.nezuko__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.nezuko__subheading {
  color: aqua;
  padding: 10px 10px 48px 0px;
}