.zenitsu {
  height: 540px;
  background-image: url(../img/ZenitsuAgatsuma.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.zenitsu .wrapper {
  padding-top: 100px;
}

.zenitsu__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.zenitsu__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.zenitsu__subheading {
  color: aqua;
  font-size: 14px;
  padding: 0px 10px 48px 0px;
}