.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/BannerBG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 24px;
}
.logo {
  font-size: 24px;
}
.header .nav__list {
  display: flex;
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header .nav__item {
  margin-right: 24px;
}
.header__heading {
  max-width: 615px;
  padding-top: 150px;
  font-size: 40px;
  color: aqua;
}
.header__box {
  animation: fade 2s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0px, -50px);
  }

  50% {
    opacity: 0.5;
    transform: translate(0px, 10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}